



body{
    justify-content: center;
    align-items: center;
    height: 500vh;
    background-repeat: no-repeat;
background-size: 100%;
    background-image: url(/img/fondo.jpg);
}


section{
    display: flex;
    width: 600px;
    height: 650px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
   
}

section img{
    width: 10px;
    height: 450px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(0,  0, 0, 0.2), 0 6px 20px 0 rgba(0,  0,  0, 0.19)
    
}

section img:hover{
    cursor: crosshair;
    width: 200px;
    height:570px ;
    opacity: 1;
    filter: contrast(150%);
}

